@import "tailwindcss";

:root {
	--background: #000000;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@font-face {
	font-family: "rkbFont"; /* Name your font */
	src: url("../../public/font/Morina-6RaZD.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "rkbFont2"; /* Name your font */
	src: url("../../public/font/Mogent-OGM1o.otf");
	font-weight: normal;
	font-style: normal;
}

body {
	background: #070e04 url("../../public/img/bg-1.jpg") no-repeat center center
		fixed;
	background-size: cover;
	overscroll-behavior: none;
	/* background-image: url("../../public/img/bg-1.jpg"); */
	background-repeat: no-repeat;
	/* background-size: cover; */
	/* background-position: center center; */

	color: var(--foreground);
	font-family: "rkbFont", Arial, Helvetica, sans-serif;
	transition-property: opacity, transform, filter, background;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
}

.page-transition {
	opacity: 0;
	background: black;
	transform: translateY(40px);
	filter: blur(12px);
}

.overlap-container {
	background-color: #04070070;
	backdrop-filter: blur(10px);
	opacity: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 10px auto;
	width: 95vw;
	height: 95vh;
	padding: 10px;
	overflow: hidden;
	border-radius: 12px;
}

.about-container {
	background-color: #04070070;
	backdrop-filter: blur(10px);
	opacity: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	margin: 10px auto;
	width: 95vw;
	height: auto;
	padding: 10px;
	overflow: hidden;
	border-radius: 12px;
}

.block {
	position: absolute;
	width: 90%;
	height: 80%;
	overflow: hidden;
	color: #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	/* transition: transform 0.3s ease-in-out; */
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 50px;
	font-weight: bold;
}
